Repository Unidata/thredds, pull requests merged in 2018-11, with the labels that each got.

#1182 ensure javascript encodes urls for OPeNDAP
  opendap/src/main/java/opendap/servlet/www/jscriptCore.java
Labels: Area: OPeNDAP

#1187 highlight use of ERDDAP code in waterml unit handling
  docs/website/netcdf-java/documentation.htm
  docs/website/tds/TDS.html
Labels: Area: Docs

#1188 encode urls by default 4.6
  docs/website/netcdf-java/reference/DatasetUrls.html
  httpservices/src/main/java/ucar/httpservices/HTTPMethod.java
  opendap/src/test/java/ucar/nc2/dods/TestBennoGrid.java
Labels: Area: Docs, Area: HTTPServices

#1186 highlight use of ERDDAP code in waterml unit handling - 5.0 branch
  docs/src/public/userguide/pages/tds_tutorial/index.md
Labels: Area: Docs

#1189 update factsheet link
  docs/website/tds/TDS.html
Labels: Area: Docs

#1190 update jackson
  gradle/dependencies.gradle
Labels: Area: Build / Release

#1191 update deps
  gradle/any/dependencies.gradle
  tds/build.gradle
Labels: Area: Build / Release

#1195 Fix HdfEosOmiConvention axes
  cdm/src/main/java/ucar/nc2/dataset/conv/HdfEosOmiConvention.java
Labels: Area: Coordinate Systems, Area: NetCDF-Java, Type: Bug
